# Carga masiva de datos

Lo que vamos a hacer es el almacenamiento de distribuidos de datos. Debido a los múltiples ficheros existentes, esta carga debe realizarse de forma automática. Lo primero que vamos a hacer es leer el primer fichero y vser su estructura:

In [18]:
import pandas as pd

In [19]:
data = pd.read_csv('../data/distributed-data/001.csv')

In [20]:
data.head()

         Date  sulfate  nitrate  ID
0  2003-01-01      NaN      NaN   1
1  2003-01-02      NaN      NaN   1
2  2003-01-03      NaN      NaN   1
3  2003-01-04      NaN      NaN   1
4  2003-01-05      NaN      NaN   1

In [21]:
data.shape

(1461, 4)

In [22]:
data.describe()

          sulfate     nitrate      ID
count  117.000000  122.000000  1461.0
mean     3.880701    0.549910     1.0
std      2.831156    0.380921     0.0
min      0.613000    0.118000     1.0
25%      2.210000    0.283500     1.0
50%      2.870000    0.453000     1.0
75%      4.730000    0.663500     1.0
max     19.100000    1.830000     1.0

Para realizar la importación, hay que seguir los siguientes pasos:

1. Importamos el primer fichero (para ver la tipología del mismo)
2. Hacemos un bucle para ir introduciendo los ficheros:
    a. Hay que tener consistenia en el nombre de los ficheros.
    b. Importar ficheros uno a uno.
    c. Apendizar cada uno de ellos
3. Repetimos el bucle hasta que no queden ficheros.

In [23]:
file_path= '../data/distributed-data/'
data = pd.read_csv(f'{file_path}001.csv')
final_length = len(data)
for i in range(2,333):
    if i < 10:
        filename= '00'+str(i)+'.csv'
    elif 10 <= i < 100:
        filename = '0'+str(i)+'.csv'
    elif i >= 100:
        filename=str(i)+'.csv'

    temp_data = pd.read_csv(file_path+filename)
    final_length += len(temp_data)
    data = pd.concat([data, temp_data], axis=0)

In [24]:
data.shape

(772087, 4)

In [25]:
data.describe()

             sulfate        nitrate             ID
count  118783.000000  114349.000000  772087.000000
mean        3.189369       1.702932     164.461290
std         2.893127       2.525040      95.481235
min         0.000000       0.000000       1.000000
25%         1.310000       0.412000      79.000000
50%         2.370000       0.821000     168.000000
75%         4.050000       1.950000     247.000000
max        35.900000      53.900000     332.000000

In [26]:
data.head()

         Date  sulfate  nitrate  ID
0  2003-01-01      NaN      NaN   1
1  2003-01-02      NaN      NaN   1
2  2003-01-03      NaN      NaN   1
3  2003-01-04      NaN      NaN   1
4  2003-01-05      NaN      NaN   1

In [27]:
data.tail()

           Date  sulfate  nitrate   ID
726  2004-12-27      NaN      NaN  332
727  2004-12-28      NaN      NaN  332
728  2004-12-29      NaN      NaN  332
729  2004-12-30      NaN      NaN  332
730  2004-12-31      NaN      NaN  332

In [28]:
final_length == len(data)

True

In [29]:
final_length == data.shape[0]

True